side_projects/media_downloader/downloaded/
.env

# Ignore output JSON files
output/old_db.json
output/new_db.json
output/*.json
output/*.tmp
output-tracklisted.json

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.installed.cfg
lib/
lib64/
__pypackages__/
pyvenv.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Scrapy logs
.scrapy/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store
._*

# Windows
Thumbs.db
ehthumbs.db
